# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env
.env.example

# Django
*.log
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.pyc
__pycache__/


# VSCode
.vscode/